/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    background-color: #bdc3c7;
    color: #fff;
    width: 250px;
    margin: 3rem 0 0 2rem;
    box-shadow: #31363b 0.5px 1px 10px;
}

.obsah {
    text-align: left;
    padding: 1rem;
    
    }


.profil {
    background-color:#31363b;
}  

/* Taky bych měla dotaz - když si najedu na webovou stránku a zobrazím zdrojový kód (nevím jistě jestli se tomu tak říká), tak vidím, že mám mezi hlavičkou a samotným obsahem mezeru. Chtěla bych poprosit o radu - kde se tam vzala a jak ji odstranit. Moc děkuji */

.foto {
    width: 250px;
} 

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    left: 205px;
    top: 190px;
    box-shadow: black 0.5px 1px 10px;

    
} 

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #bdc3c7;
    

}
.odkazy {
   
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0px;
    
}


.odkazy li {
    display: inline-block;
    font-size: 15px;    
    
}


.odkazy a {
    display: inline-block;
    color: #bdc3c7;
    text-decoration: none;  
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    
}

.portfolio {
   border: 1px solid #3f464d;
   border-style: solid none;
   width: 100%;
}

/*Tady bych potřebovala poradit, jak to napsat elegantněji - pokud to jde :) Jde mi o lomítko mezi tlačítky facebook a twitter. Já jsem ho tam přiřadila jako border-right od facebooku, ale asi je na to nějaká lepší metoda? Děkuji */


.facebook {
            border-right: 1px solid #3f464d;
            width: 50%;
        }
.twitter {
    width: 50%;
   
    
} 

.portfolio:hover {
    background-color: #e74c3c;
}
  

.facebook:hover {
    background-color: #3b5998;
}

.twitter:hover {
    background-color:#1da1f2;
}


    



/*
 BARVY
 czechitas  #b92e81 - logo
 pozadi     #bdc3c7 - cele stranky
 tmava      #31363b - pozadi obsahu
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/